### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file = "/Users/bryanwood/Desktop/Pandas_Homework/Homework/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [2]:
#Add column to assign each row a value 
purchase_data["Player"] = 1

#Count total players and store it into a variable
total_players = purchase_data["Player"].count()

#Print total players
print(f"Total Players: {total_players}")

Total Players: 780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Calculate unique items and store into variable
unique_items = purchase_data["Item ID"].nunique()

#Calculate average price and store into variable
average_price = purchase_data["Price"].mean()

#Calculate number of purchases and store into variable
num_purchases = purchase_data["Purchase ID"].nunique()

#Calculate total revenue and store into variable
total_revenue = purchase_data["Price"].sum()

#Create Summary data frame to hold results
purchase_analysis = pd.DataFrame({
                                    "Number of Unique Items": [unique_items],
                                    "Average Price": [average_price],
                                    "Number of Purchases": [num_purchases],
                                    "Total Revenue": [total_revenue]
                                })
#Format Average Price and Total Revenue data to currency and 2 decimal points
purchase_analysis["Average Price"] = purchase_analysis["Average Price"].map("${:.2f}".format)
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].map("${:.2f}".format)

#Display summary data frame
purchase_analysis.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Grouping the DataFrame by "Gender"
gender_group = purchase_data.groupby("Gender")

#finding total gender count
gender_count = gender_group["Player"].sum()

#Calculate gender percentage
gender_percentage = ((gender_count/total_players)*100).map("{:.2f}%".format)

# Creating a new DataFrame using both percentage and count
gender_summary_table = pd.DataFrame({"Count": gender_count,
                                     "Percentage": gender_percentage})
gender_summary_table.head()

                       Count Percentage
Gender
Female                   113     14.49%
Male                     652     83.59%
Other / Non-Disclosed     15      1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Calculate average purchase price
gender_avg_price = gender_group["Price"].mean().map("${:.2f}".format)

#Calculate total purchase value
gender_total_purchase = gender_group["Price"].sum().map("${:.2f}".format)

#Calculate total per person


# Creating a new DataFrame 
purchase_analysis_table = pd.DataFrame({
                                    "Purchase Count": gender_count,
                                    "Average Purchase Price": gender_avg_price,
                                    "Total Purchase Value": gender_total_purchase,
                                    })
purchase_analysis_table.head()

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,$1967.64
Other / Non-Disclosed,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Create the bins in which Data will be held
# Bins are <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 50
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Add age group as column and establish bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names) 

#Group by the established bins
group_demographics = purchase_data.groupby("Age Group")
group_demographics.count()

gender_age_count = group_demographics["Age"].count()
gender_age_percentage = ((gender_age_count / total_players) * 100).map("{:.2f}%".format)

# Creating a new DataFrame 
gender_demo_table = pd.DataFrame({
                                    "Count": gender_age_count,
                                    "Percentage": gender_age_percentage,
                                    })
gender_demo_table

           Count Percentage
Age Group
<10           23      2.95%
10-14         28      3.59%
15-19        136     17.44%
20-24        365     46.79%
25-29        101     12.95%
30-34         73      9.36%
35-39         41      5.26%
40+           13      1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Grouping the DataFrame by "Gender"
gender_group = purchase_data.groupby("Age Group")

#finding total gender count
gender_count = gender_group["Player"].sum()

#Calculate gender percentage
gender_percentage = ((gender_count/total_players)*100).map("{:.2f}%".format)

# Creating a new DataFrame using both percentage and count
gender_summary_table = pd.DataFrame({"Count": gender_count,
                                     "Percentage": gender_percentage})
gender_summary_table

           Count Percentage
Age Group
<10           23      2.95%
10-14         28      3.59%
15-19        136     17.44%
20-24        365     46.79%
25-29        101     12.95%
30-34         73      9.36%
35-39         41      5.26%
40+           13      1.67%

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
# Grouping the DataFrame by "Gender"
sn_group = purchase_data.groupby("SN")

#finding total SN purchase count
sn_count = sn_group["Player"].count()

#Calculate average purchase price per SN
sn_avg_price = sn_group["Price"].mean().map("${:.2f}".format)

#Calculate total purchase value per SN
sn_total_purchase = sn_group["Price"].sum().map("${:.2f}".format)


# Creating a new DataFrame using both percentage and count
sn_summary_table = pd.DataFrame({
                                    "Purchase Count": sn_count,
                                    "Average Purchase Price": sn_avg_price,
                                    "Total Purchase Value": sn_total_purchase
                                    })
sn_summary_table

                 Purchase Count Average Purchase Price Total Purchase Value
SN
Adairialis76                  1                  $2.28                $2.28
Adastirin33                   1                  $4.48                $4.48
Aeda94                        1                  $4.91                $4.91
Aela59                        1                  $4.32                $4.32
Aelaria33                     1                  $1.79                $1.79
Aelastirin39                  2                  $3.64                $7.29
Aelidru27                     1                  $1.09                $1.09
Aelin32                       3                  $2.99                $8.98
Aelly27                       2                  $3.39                $6.79
Aellynun67                    1                  $3.74                $3.74
Aellyria80                    1                  $3.08                $3.08
Aelollo59                     2                  $2.82                $5.63
Aenarap34                     1                  $2.96                $2.96
Aeral43                       1                  $4.40                $4.40
Aeral68                       1                  $4.00                $4.00
Aeral97                       1                  $4.80                $4.80
Aeralria27                    1                  $4.09                $4.09
Aeralstical35                 1                  $2.96                $2.96
Aeri84                        1                  $1.61                $1.61
Aerillorin70                  1                  $3.33                $3.33
Aerithllora36                 2                  $4.32                $8.64
Aerithnucal56                 1                  $4.40                $4.40
Aerithnuphos61                1                  $4.91                $4.91
Aerithriaphos45               1                  $1.56                $1.56
Aerithriaphos46               1                  $2.18                $2.18
Aesri53                       1                  $1.76                $1.76
Aesty53                       2                  $1.96                $3.91
Aestysu37                     2                  $2.69                $5.38
Aesur96                       1                  $2.21                $2.21
Aesurstilis64                 1                  $1.03                $1.03
...                         ...                    ...                  ...
Undosia27                     1                  $3.77                $3.77
Undosian34                    2                  $4.15                $8.30
Undotesta33                   1                  $4.74                $4.74
Wailin72                      1                  $2.73                $2.73
Yadacal26                     2                  $3.27                $6.54
Yadaisuir65                   1                  $4.09                $4.09
Yadam35                       1                  $2.48                $2.48
Yadanu52                      1                  $2.38                $2.38
Yadaphos40                    2                  $2.68                $5.35
Yalae81                       2                  $3.34                $6.69
Yalaeria91                    1                  $1.06                $1.06
Yaliru88                      1                  $3.03                $3.03
Yalo85                        1                  $3.65                $3.65
Yalostiphos68                 1                  $4.40                $4.40
Yana46                        1                  $3.55                $3.55
Yarithllodeu72                1                  $3.75                $3.75
Yarithrgue83                  1                  $3.45                $3.45
Yarithrin84                   1                  $4.14                $4.14
Yarithsurgue62                1                  $4.94                $4.94
Yarolwen77                    1                  $4.43                $4.43
Yasrisu92                     1                  $3.44                $3.44
Yastyriaphos75                1                  $4.75                $4.75
Yasur35                       1                  $4.48                $4.48
Yasur85                       1                  $1.10                $1.10
Yathecal72                    1                  $3.46                $3.46
Yathecal82                    3                  $2.07                $6.22
Yathedeu43                    2                  $3.01                $6.02
Yoishirrala98                 1                  $4.58                $4.58
Zhisrisu83                    2                  $3.94                $7.89
Zontibe81                     3                  $2.68                $8.03

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80